.nav {
  background-color: var(--dark-1);
  height: 7vh;
  border-bottom: solid 3px var(--dark-3);
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav h1 {
    padding-left: 10px;
    color: var(--light-2); }
  .nav ul {
    display: flex;
    list-style-type: none; }
  .nav li {
    padding: 0 5px 5px; }
  .nav a {
    transition: 0.4s;
    font-family: Georgia, serif;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    width: 50px;
    font-size: 1.1vw; }
  .nav li:hover {
    border-bottom: solid 2px var(--dark-3);
    letter-spacing: .7px; }
